<html>
<head>
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='./stylesheets/style.css'>
	<link rel="stylesheet" href='https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script> 
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
	<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
	<script type='text/javascript' src ='./socket.io/socket.io.js'></script>
	<script src="./javascripts/jquery-1.11.2.min.js"></script>
	<script src="./javascripts/app.js"></script>
	<script src="./javascripts/services/user_factory.js"></script>
	<script src="./javascripts/controllers/users.js"></script>
	<script src="./javascripts/services/word_factory.js"></script>
	<script src="./javascripts/services/game_factory.js"></script>
	<script src="./javascripts/controllers/words.js"></script>
	<script src="./javascripts/controllers/games.js"></script>
</head>
<body>

	<div ng-app='chinglish'>
		<div class='nav'>
			<h2>Chinglish</h2>
		</div>
		<div class='login'>
			<div ng-controller='users'>
				<div class='container'>

					<div class='row'>
						<div class='col-md-1'></div>
						<div class='col-md-3'>
							<h2>Login</h2>
							<form action='/users/login' method='post'>
								<p><input type='text' ng-model='old_user.name' placeholder='user name' name='name'></p>
								<p><input type='password' ng-model='old_user.password' placeholder='password' name='password'></p>
								<p><input type='submit' class='btn btn-md-default' ng-click='loginUser()' value='Login'></p>
							</form>
						</div>
						<div class='col-md-4'>
						</div>
						<div class='col-md-4'>
							<h2>Register</h2>
							<p id='success'></p>
							<p><input type='text' class='registration_form' ng-model='new_user.name' placeholder='user name'></p>
							<p><input type='text' class='registration_form' ng-model='new_user.email' placeholder='email'></p>
							<p><input type='password' class='registration_form' ng-model='new_user.password' placeholder='password'></p>
							<p><input type='password' class='registration_form' ng-model='new_user.confirm_password' placeholder='password'></p>
							<p><input type='submit' ng-click='addUser()' class='btn btn-md-primary' value='Register'></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>