<html>
<head>
	<title>Dashboard</title>
</head>
<body>
	<div class='container' ng-controller='words'>
		<nav class='navbar navbar-default'>
			<ul class="nav navbar-nav navbar-right">
		      </ul>
		</nav>
		<div class='row'>
			<div class='col-md-4'>
				<h3 class='text-center'>Review Vocab</h3>
				<table class='table table-striped'>
					<thead>
						<th>Chinese</th>
						<th>English</th>
					</thead>
					<tbody>
						<tr ng-repeat="word in words | orderBy: 'english' | startFrom: currentPage * pageSize | limitTo: pageSize ">
							<td>{{word.chinese}}</td>
							<td>{{word.english}}</td>
						</tr>
					</tbody>
				</table>
				<div class='pagination_buttons'>
					<button class='btn btn-sm btn-primary' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>Prev</button>
					{{currentPage + 1}}/{{numberOfPages()}}
					<button class='btn btn-sm btn-primary' ng-disabled='currentPage >= data.length/pageSize - 1' ng-click='currentPage = currentPage + 1'>Next</button>
				</div>
			</div>
			<div class='col-md-3'>
				<a href='#/game'><img src='./img/lucky_cat.jpg' alt='lucky_cat'></a>
				<h3 class='text-center'>Click cat to play</h3>
			</div>
			<div class='col-md-5' ng-controller='games'>
				<h3 class='text-center'>High Scores</h3>
				<table class="table table-striped">
					<thead>
						<th>Username</th>
						<th>Score</th>
						<th>Difficulty</th>
						<th>Date</th>
					</thead>
					<tbody>
						<tr ng-repeat="score in scores | orderBy: '-score' | startFrom: currentPage * pageSize | limitTo: pageSize">
							<td>{{score.name}}</td>
							<td>{{score.score}}</td>
							<td>{{score.difficulty}}</td>
							<td>{{score.created_at}}</td>
						</tr>
					</tbody>
				</table>
				<div class='pagination_buttons'>
					<button class='btn btn-sm btn-primary' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>Prev</button>
					{{currentPage + 1}}/{{numberOfPages()}}
					<button class='btn btn-sm btn-primary' ng-disabled='currentPage >= data.length/pageSize - 1' ng-click='currentPage = currentPage + 1'>Next</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>