<html>
<head>
	<title>Word Game</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="./javascripts/services/game_factory.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>
<body>
	<div ng controller='games'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-2'></div>
				<div class='col-md-8'>
					<div class='game_nav' ng-controller='games'>
					    <div class="col-sm-4 col-md-2">
					    	<select id="difficulty" name='difficulty' class="form-control"  ng-model='difficulty.level'>
					    		<option>Easy</option>
					      		<option>Medium</option>
					      		<option>Hard</option>
					   		</select> 
					   	</div>
						<input type='submit' ng-click="start('screen', 'user_input', 'score', 'game_over')" class='btn btn-md btn-primary text-right' value='Start'>
						<p id='game_over'></p>
						<p id='score'></p> 
					</div>
				</div>
				<div class='col-md-2'></div>
			</div>
			<div class='row'>
				<div class='col-md-2'></div>
				<div class='col-md-8 screen' id='screen' ng-model='screen' ng-controller='games'>
				</div>
				<div class='col-md-2'></div>
			</div>
			<div class='row'>
				<div class='col-md-2'></div>
				<div class='col-md-8'>
					<form ng-submit="submit()" ng-controller="games">
  						Enter text and hit enter:
  						<input type="text" id='user_input' ng-model="text" name="text" />
					</form>
  

				</div>
						
			</div>
		</div>
	</div>

</body>
</html>