<html>
<head>
	<title></title>
</head>
<body>
	<div class='container'>
		<div class='row room_info'>
			<!-- <div class='room_info'> -->
				<div class='col-md-2'>
					<h2>Room 1</h2>
				</div>
				<div class='col-md-2'>
					<p>Spiderman</p>
					<p>Batman</p>
					<p>1 spot open!</p>
				</div>
				<div class='col-md-4'>
					<p>0:30 left</p>
				</div>
				<div class='col-md-4'>
					<a href='#/multiplayer_game'>
						<input class='btn btn-md btn-danger' type='submit' value='Join'>
					</a>
				</div>
			<!-- </div> -->
		</div>
		<div class='row room_info'>
			<!-- <div class='room_info'> -->
				<div class='col-md-2'>
					<h2>Room 2</h2>
				</div>
				<div class='col-md-2'>
					<p>Tobyredd</p>
					<p>2 spots open!</p>
				</div>
				<div class='col-md-4 time'>
					<p>2:59 left</p>
				</div>
				<div class='col-md-4'>
					<input class='btn btn-md btn-danger' type='submit' value='Join'>
				</div>
			<!-- </div> -->
		</div>
		<div class='row'>
			<!-- <div class='room_info'> -->
				<div class='col-md-2'>
					<input class='btn btn-md btn-primary' type='submit' value='New Room'>
				</div>
				<!-- <div class='col-md-2'>
					<p>Tobyredd</p>
					<p>2 spots open!</p>
				</div>
				<div class='col-md-4'>
					<p>30 sec left</p>
				</div>
				<div class='col-md-4'>
					<input class='btn btn-md btn-danger' type='submit' value='Join'>
				</div> -->
			<!-- </div> -->
		</div>
	</div>
</body>
</html>